div[class~=language-scheme]:before {
    content:"scheme"
}

.tip {
    border-color: #5B6BD8!important;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    font-family: 'Quicksand', sans-serif;
}

.table-of-contents li {
    list-style: disc outside none;
}

a {
    font-weight: 600;
}

.sidebar-links a.active {
    font-weight: 600!important;
}