@model Demo.Models.UserModel

@{
   ViewBag.Heading = "Welcome New User: " + Model.Name;
   ViewBag.Preview = "This is a view generated preview";
   ViewBag.Links = new string[] { "<a href=\"google.com\">This is a link</a>" };
}

<p>
    This is a test email to @Model.Name.

    How are you today?

    @await Component.InvokeAsync("EmailLinkButton", new  { text = "click me", url = "www.google.com" })
</p>


