name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_dotnet_5:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore ./Src/All.sln
    - name: Build
      run: dotnet build ./Src/All.sln
      
  tests_on_dotnet_3_1:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Mailer Tests
      run: dotnet test ./Src/UnitTests/MailerUnitTests/MailerUnitTests.csproj
    - name: Unit Tests
      run: dotnet test ./Src/UnitTests/CoravelUnitTests/CoravelUnitTests.csproj
    - name: Integration Tests
      run: dotnet test ./Src/IntegrationTests/Tests/Tests.csproj
